 /* Customizing the carousel card. Show the stepper only on hover  */
 .carouselCard .MuiMobileStepper-root {
    opacity: 0;
    transition: all ease .4s;
  }

  .carouselCard:hover .MuiMobileStepper-root {
    opacity:1
  }

  .carouselCard:hover .MuiMobileStepper-dotActive {
    background-color: #fff
  }